.u-panel-body{
  position: relative;
}
.u-panel-body .uf{
  position: absolute;
  right: 25px;
  top: 30px;
  color: #fff;
  font-size: 20px;
  padding: 2px 8px;
  margin: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.u-panel-body .uf-files-o:hover{
  color: #a8a7a7;
}